.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/F00008653-SerieDeTiempo_1995_2018.xlsx
Data/Amelia_10.rds
Data/Cor2.csv
Data/Cor_Matrise.csv
Data/Country_Codes.csv
Data/Country_Stats.csv
Data/Country_Stats.debugsql.txt
Data/F00003844_WVS_Values_Surveys_Integrated_Dictionary_TimeSeries_v_2014-04-25.xls
Data/Fac_Fit.rds
Data/Latinobarometro_2018_Eng_R_v20190303
Data/merged_r1_data.sav
Data/ucdp-prio-kodebok.pdf
Data/UCDP_COW_CY.csv
Data/UcdpPrioConflict_v19_1.rds
Data/Variabler.xlsx
Data/WB_GDP_CAP.csv
Data/WVS Kodebok.xlsx
Data/WVS Kodebok_Filtrert.xlsx
Data/WVS_Corrected.rds
Data/WVS_CY.rds
Data/WVS_TimeSeries_R_v1_2.rds
Data/WVS_Vars.rds
